/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

body {
    text-rendering: optimizeLegibility;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: #f5f5f5;
    margin: 0;
    font-size: 14px;
}


.nazev {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.zbozi {
    height: 440px;
    width: 670px;
    margin: 110px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 5px 4px rgb(219, 218, 218);

}


.vizual {
    padding: 30px;
    background: linear-gradient(#06d7c1, #50cc49);
    flex: 1 0 40%;
    position: relative;
    color: white;
    border-radius: 10px 0 0 10px;
}

.detaily {
    padding: 30px;
    flex-basis: 50%;
    flex-shrink: 0;
    background-color: #ffffff;
    position: relative;
    border-radius: 10px;
}

.nazev {
    font-size: 20px;
    font-weight: 500;
    color: rgb(49, 49, 49);
}

.produkt {
    color: grey;
}

.popis {
    color: rgb(49, 49, 49);
    padding-bottom: 30px;
    border-bottom: 1px groove #06d7c1;
}

.parametr {
    margin-top: 30px;
    font-size: 15px;
    color: rgb(49, 49, 49);
}

.velikosti {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.akce {
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: rgb(255, 111, 0);
    padding: 10px 20px;
    border-radius: 5%;
    box-shadow: 0px 1px 2px rgb(145, 145, 145);
}

.tlacitko {
    text-decoration: none;
    color: white;
}


.bota {
   position: absolute;
   left: -70px;
   bottom: 10px;
}

.cenovka {
    position: absolute;
    text-align: right;
    bottom: 30px;
    right: 30px;
}

.cena {
    font-size: 22px;
}

.slogan {
    margin-top: 30px;
}

ul.velikosti {
    list-style: none;
    display: flex;
}
